<div data-role="page">
  <h1 class="center"><%= image_tag "logo_small.png" %></h1>
  <div data-role="header">
    <h2>トップページ</h2>
  </div>

  <div data-role="content">

  <ul data-role="listview">
    <li><%= link_to "タイトル一覧", titles_path %></li>
    <li><%= link_to "未完一覧", titles_path(:complete => "false") %></li>
  </ul>

  </div>

  <div data-role="footer">
  </div>
</div><!-- page -->
