<div data-role="header">
  <h2 class="border wedgwood leftline3">トップページ</h2>
</div>

<div data-role="content">

<ul data-role="listview">
  <li><%= link_to "タイトル一覧", titles_path %></li>
  <li><%= link_to "未完一覧", titles_path %></li>
</ul>

</div>

<div data-role="footer">
</div>
