@import "bootstrap";
@import "bootstrap-responsive";

html {
  overflow-y: scroll;
}

h1 img {
  margin-left: -10px;
}

h2 {
  font-size: 18px;
  line-height: 18px;
}

.search-info {
  padding: 10px;
}

.fixed .control-label {
  font-weight: bold;
}

.fixed .controls {
  padding-top: 5px;
}

.fixed .control-group {
  margin-bottom: 5px;
}
